<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jc.androidrs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.Test1Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="com.example.broadcastreceivertest.TEST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.TestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="99">
                <action android:name="com.example.broadcastreceivertest.TEST" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":jc" >
            <intent-filter>
                <action android:name="com.jc.androidrs.MyAIDLService"/>
            </intent-filter>
        </service>
    </application>

</manifest>